<h2>{{ name }}</h2>
<a href="{{ image_o }}" class="details-img" target="_blank"><img src="{{ image_l }}"></a>

Rating: {{ imdb_rating }}
Year: {{ year }}

<button class="button button-icon icon-star watchlist"></button>

<h3>Janres</h3>
<ul>
	{{#each janre }}
		<li>{{ this }}</li>
	{{/each}}
</ul>

<p>{{ desc }}</p>

<a href="{{ imdb_link }}" target="_blank">Full info on IMDB</a>

<h3>Directors</h3>
<ul class="details-directorList"></ul>

<h3>Actors</h3>
<ul class="details-actorList"></ul>