<a class="th" href="{{ image }}">
	<img src="{{ image }}">
</a>
<div class="content">
	[<span>{{ imdb_rating }}</span>]
	{{#if watchlisted }}<span class="unwatchlist">★</span>{{else}}<span class="watchlist">&star;</span>{{/if}}
	<h4>{{ name }}</h4> <span>{{ year }}</span>
	<ul>
		{{#each janre }}
			<li><span class="label secondary round">{{ this }}</span></li>
		{{/each}}
	</ul>
	<footer>
		<span class="button tiny hide">hide</span>
	</footer>
</div>