<h2>{{ name }}</h2>

<a href="{{ image_o }}" target="_blank"><img src="{{ image_l }}"></a>

[{{ imdb_rating }}] ({{ year }})

<h3>Janres</h3>
(<ul>
	{{#each janre }}
		<li>{{ this }}</li>
	{{/each}}
</ul>)

<p>{{ desc }}</p>

<a href="{{ imdb_link }}" target="_blank">Full info on IMDB</a>

<h3>Directors</h3>
<ul class="details-director-list"></ul>

<h3>Actors</h3>
<ul class="details-actor-list"></ul>