<span class="th">
	<img src="{{ image }}">
</span>
<div class="content">
	[<span>{{ imdb_rating }}</span>]
	<button class="button button-icon icon-star watchlist"></button>
	<h4>{{ name }}</h4> <span>{{ year }}</span>
	<ul>
		{{#each janre }}
			<li><a href="#janre/{{ this }}" class="label secondary round">{{ this }}</a></li>
		{{/each}}
	</ul>
	<footer class="listItem-footer">
		<a href="#movie/{{ id }}" class="button tiny select">details</a>
		<span class="button tiny hide">hide</span>
		<span class="button tiny restore">restore</span>
	</footer>
</div>